.cdk-overlay-dark-backdrop {
    background: rgba(0,0,0,.1);
}

.mat-dialog-actions {
    position: relative;
}

.close {
    width: 15px;
    height: 20px;
    top: -15px;
    right: -15px;
    outline: none;
    opacity: 1;
}

.ui-button-icon-only {
    width: 25px;
}